@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,400;1,500&family=Poppins:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    
}



body{
    font-family:  'Josefin Sans', sans-serif;
    box-sizing: border-box;
    background-color: #f2d6bd75;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    overflow-x: hidden;

}

header{
    width: 1900px;
    height: 120px;
    padding: 10px;
    background-color: #14331B;
    /* erro aqui */
    position: fixed;
    top: 0;
    left: 0;
}


nav{
    display: flex;
    justify-content: space-between;

}

.bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 70px;
    
}
.bar li{
    text-decoration: none;
    list-style: none;
    margin-left: 100px;
    color: aliceblue;
    font-size: 22px;
    transition: 0.5s;
    
}
.bar li a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

.bar li:hover{
    transform: scale(1.1);
}

.bar li a:hover{
    color: #F2DE7C;
}

.log{
    color: aliceblue;
    text-decoration: none;
    background-color: #00AD31;
    padding: 12px;
    border-radius: 10px;
    font-size: 29px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.529);
}



.logo1{
    width: 120px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* HOME */


#redonda{
    position: absolute;
    overflow: hidden;
    top: 340px;
    left: -420px;
    filter: blur(5px);

}

#redonda img{
    width: 900px;
}

#deitada{
    position: absolute;
    right: -100px;
    top: 360px;

}

#deitada img{
    width: 950px;
    position: static;
}


.pedido h1{
    position: absolute;
    top: 400px;
    left: 1220px;
    font-size: 47px;
    transition: 0.3s;
    
}

.pedido a{
    text-decoration: none;
    color: aliceblue;
    background-color: #00AD31 ;
    border-radius: 10px;
    box-shadow: 6px 6px 40px rgba(48, 48, 48, 0.903);
    padding: 19px 49px 19px 49px;
    transition: 00.5s;
}

.pedido h1:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.pedido h1 a:hover{
    box-shadow: 2px 2px 5px rgba(48, 48, 48, 0.436);
}


.frase{
    color: aliceblue;
    font-size: 92px;
    text-shadow: 5PX 5PX 15PX rgba(0, 0, 0, 0.437);
}

.frase1 {
    position: relative;
    position: absolute;
    top: 300px;
    left: 180px;
}

.frase2{
    position: relative;
    position: absolute;
    top: 435px;
    left: 400px;
}

.frase2 h1 span{
    font-family: 'Caveat', cursive;
    font-size: 120px;
    color: #F4CC08 ;
    background-color: #00AD31;
    padding: 1px 28px 5px 8px;
    border-radius: 4px;
    box-shadow: 6px 6px 40px rgba(48, 48, 48, 0.356);
    
}

.frase3 h1{
    position: relative;
    position: absolute;
    top: 660px;
    left: 470px;
}




.pag1{
    margin-top:-60px ;
    height: 100vh;
    background-image: linear-gradient(-150deg, #F22816 40%, #EDBE69 99%, #EDBE69 100%);
}



/* SOBRE */



.pag2{
    background-color: #008037;
    height: 100vh;
    position: relative;
    
}

.titulo2{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F2DE7C;
    font-size: 80px;
    font-family:'Caveat', cursive;
    margin: 20px 20px 100px 20px;
    text-shadow: 7px 7px 18px rgba(0, 0, 0, 0.353);
}


.pizzapag2 img{
    width: 801px;
    
}

.txt1 img{

    width: 80px;
    height: 50px;
}
.txt2 img{
    width: 80px;
    height: 50px;
}
.txt3 img{
    width: 80px;
    height: 50px;
    margin-top: 20px;
}

.txt1 {
    display: flex;
    justify-content: justify;
    align-items: center;
    margin: 50px 10px 50px 20px;
}

.txt2 {
    display: flex;
    justify-content: justify;
    align-items: center;
    margin: 100px 10px 50px 20px;
    flex-wrap: wrap;
}
.txt3 {
    display: flex;
    justify-content: justify;
    align-items: center;
    margin: 100px 10px 50px 20px;
    flex-wrap: wrap;
}

.txt1 h2{
    font-size: 43px;
    color: aliceblue;
}

.txt1 h2 span{
    font-family:'Caveat', cursive ;
    font-size: 63px;
    background-color: #F4CC08;
    padding: 2px 10px 2px 1px;
    color: #008037;

}

.txt2 h2{
    font-size: 43px;
    color: aliceblue;
}

.txt2 h2 span{
    font-family:'Caveat', cursive ;
    font-size: 53px;
    background-color: #F4CC08;
    padding: 2px 0px 2px 7px;
    color: #008037;

}

.txt3 h2{
    font-size: 43px;
    color: aliceblue;
}

.txt3 h2 span{
    font-family:'Caveat', cursive ;
    font-size: 73px;
    background-color: #F4CC08;
    padding: 2px 9px 2px 1px;
    color: #008037;

}

.gridpag2{
    display: grid;
    grid-template-columns: 3fr 1fr;
}




 /* CARDAPIO */




.cardapio{
    height: 200vh;
    background-color: #DD2626;
    margin: -20px 0 0 0;
}


.card{
    background-color: #E2CFB5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.469);
}

.foto1{
    position: relative;
    top:30px;
}

.foto1 img{
    border-radius: 5%;
    width: 280px;
    height: 160px;
    margin-top: -20px;
}

.textos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height:45px ;
    margin-top: 30px;
}

.nomepizza{
    font-size: 37px;
    margin-top: 10px;
    color: #14331B;
    
}

.nomepizza::after{
    content: '';
    
    width: 280px;
    height: 2.1px;
    background-color: #14331b35;
    

}

hr{
    background-color: #14331b21;
    height: 3px;
    width:260px;
    border-radius: 10%;
}

.preco{
    margin-top: 9px;
    font-size: 40px;
    color:#DD2626 ;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.348);
}

.preco span{
    color: #14331B;
    font-size: 29px;
}

.pedir{
    background-color: #00AD31;
    padding: 4px 16px 4px 16px;
    border-radius: 15%;
    font-size: 28px;
    transition: 00.3s;
    box-shadow: 4px 4px 8px rgba(48, 48, 48, 0.436);
}

.pedir a{ 
    text-decoration:none ;
    color: white;
}

.pedir:hover{
    transform: scale(0.9);
    box-shadow: 1px 1px 5px rgba(48, 48, 48, 0.308);
}

/* cards */

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 120px 00px;
    justify-items: center;
    margin: 0 150px 0 150px;
}








